* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --corPrincipal:  rgb(45, 90, 45);
    --corSecundaria: #fff;
}

.btn-app {
    padding: 3px;
    margin-left: 6px;
    border: none;
    border-radius: 3px;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
    margin-bottom: 8px;
    cursor: pointer;
}